.card {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 8px 8px rgb(206, 196, 196) ;
  text-align: center;
}

.card > h2 {
  font-size: 32px;
}

.card > img {
  border-radius: 10px;
}